
<br></br>
<br></br>

<div class="row">
	<p class="text-center big">F.U. I'm Right</div>
</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<div class="row">
    <img src='/assets/question_guy_red.png' class="big-guy">
</div>

<br></br>

<div class="row">
	<p class="text-center medium">ask. answer. gloat.</div>
</div>

<br></br>
<br></br>

<div class="row">
    <a href="#"><img src='/assets/AppStoreLogo.png' class="logo"></a> 
</div>

<br></br>
<br></br>
