

<div class="row">

  <div class="col-md-4">
	<div class="span4 qbox_large clearfix" column="1">
		<a href="#" class="xx">X</a>
		<div><h2>You're staying at a beach housE that happens to also have a pool. Prefer to swim in the ocean or pool?</h2></div>
		<a href="#"><img src='/assets/heart-icon2.png' class="heart"></a> 
		<a href="#"><img src='/assets/share-icon3.png' class="heart"></a> 
		<div class="abox btn-default"><h3>The pool, it's clean and private</h3></div>
		<div class="bbox"><h3>The beach, it's why you're there</h3></div>
	</div>
  </div>

  <div class="col-md-4">
	<div class="span4 qbox_large clearfix" column="1">
		<a href="#" class="xx">X</a>
		<div><h2>You're staying at a beach housE that happens to also have a pool. Prefer to swim in the ocean or pool?</h2></div>
		<a href="#"><img src='/assets/heart-icon2.png' class="heart"></a> 
		<a href="#"><img src='/assets/share-icon3.png' class="heart"></a> 
		<div class="abox"><h3>The pool, it's clean and private</h3></div>
		<div class="bbox"><h3>The beach, it's why you're there</h3></div>
	</div>
  </div>

  <div class="col-md-4">
	<div class="span4 qbox_large clearfix" column="1">
		<a href="#" class="xx">X</a>
		<div><h2>You're staying at a beach housE that happens to also have a pool. Prefer to swim in the ocean or pool?</h2></div>
		<a href="#"><img src='/assets/heart-icon2.png' class="heart"></a> 
		<a href="#"><img src='/assets/share-icon3.png' class="heart"></a> 
		<div class="abox"><h3>The pool, it's clean and private</h3></div>
		<div class="bbox"><h3>The beach, it's why you're there</h3></div>
	</div>
  </div>

<div class="col-md-4">
	<div class="span4 qbox_large clearfix" column="1">
		<a href="#" class="xx">X</a>
		<div><h2>You're staying at a beach housE that happens to also have a pool. Prefer to swim in the ocean or pool?</h2></div>
		<a href="#"><img src='/assets/heart-icon2.png' class="heart"></a> 
		<a href="#"><img src='/assets/share-icon3.png' class="heart"></a> 
		<div class="abox"><h3>The pool, it's clean and private</h3></div>
		<div class="bbox"><h3>The beach, it's why you're there</h3></div>
	</div>
  </div>

  <div class="col-md-4">
	<div class="span4 qbox_large clearfix" column="1">
		<a href="#" class="xx">X</a>
		<div><h2>You're staying at a beach housE that happens to also have a pool. Prefer to swim in the ocean or pool?</h2></div>
		<a href="#"><img src='/assets/heart-icon2.png' class="heart"></a> 
		<a href="#"><img src='/assets/share-icon3.png' class="heart"></a> 
		<div class="abox"><h3>The pool, it's clean and private</h3></div>
		<div class="bbox"><h3>The beach, it's why you're there</h3></div>
	</div>
  </div>

  <div class="col-md-4">
	<div class="span4 qbox_large clearfix" column="1">
		<a href="#" class="xx">X</a>
		<div><h2>You're staying at a beach housE that happens to also have a pool. Prefer to swim in the ocean or pool?</h2></div>
		<a href="#"><img src='/assets/heart-icon2.png' class="heart"></a> 
		<a href="#"><img src='/assets/share-icon3.png' class="heart"></a> 
		<div class="abox"><h3>The pool, it's clean and private</h3></div>
		<div class="bbox"><h3>The beach, it's why you're there</h3></div>
	</div>
  </div>


</div>



