
html {
  background: #B7B8BD;
  src: url('/assets/jonze.eot');
  font-family: 'jonze', serif, Arial;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  font-family: 'jonze', Helvetica, Arial;
  font-size: 16px;
  width: 960px;
  margin: 20px auto;
  background-color: transparent;
}

input { font-size: 16px;}


/* OTHER CHANGES    */

.big {
  src: url('/assets/jonze.eot');
  font-family: 'jonze', serif, Arial;
  color:#231F20;
  font-size: 9em;
  text-align: center;
}

.medium {
  src: url('/assets/jonze.eot');
  font-family: 'jonze', serif, Arial;
  color: #231F20;
  font-size: 4em;
  text-align: center;
}

.big-guy{
  display: block;  
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  padding:0px 0px 0 0px;
  text-align: center;
}

.logo{
  display: block;  
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: auto;
  padding:0px 0px 0 0px;
  text-align: center;
}


.qbox_large {
    position: relative;
    background-color: #f93;
    background-image: url('/assets/question_guy.png');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 10% 125px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
    max-height: 450px;
    min-height: 450px;
    text-align: center;
    padding:10px 10px 0 10px;
    box-shadow: 5px 5px 10px 0px;
    margin: 0 20px 35px 20px;
    font-weight: normal;

}

.abox {
    position: relative;
    bottom:-50px; 
    max-height: 100px;
    min-height: 100px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
    background-color: #b31e2d !important;
    text-align: left;
    padding:10px 10px 0 10px;
    cursor: pointer;
    font-weight: normal;
}

.bbox {
    position: relative;
    bottom:-50px;
    max-height: 100px;
    min-height: 100px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
    background-color: #b31e2d !important;
    text-align: left;
    padding:10px 10px 0 10px;
    cursor: pointer;
    font-weight: normal;
}

.heart {
/*    background: url(/assets/heart-icon.png);*/
    float:right;
    display: block;
    height: 32px;
    width: auto;
    padding:0px 5px 0 5px;
/*    text-indent: -9999px;
    background-position: -95px 0px;   */
    }

.xx {
    float:right;
    display: block;
    padding:0 0 0 0;
    font-size:20px;
    font-family: Arial !important;
    text-align: right !important;
    color: black;
    font-weight: bold;
    }

.btn-ques {
    background-color: #EF8821;
    padding:3px 5px 3px 5px !important;
    box-shadow: 2px 2px 3px 0px;
    margin: 0 15px 0 0;
    width: 9em;
    font-size: 18px !important;
    border: 0 !important;
    margin: 0px 0px 0px 20px;

